<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.ConnectionString"
            connectionString="Data Source=HST-SLCPC-BTT\SQLEXPRESS;Initial Catalog=OPERATIONTHEATER;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>